body{
    margin: 0;
    background-color: #fff;
}

.informacion {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 20px; /* Espacio entre las columnas */
    padding: 15px;
    padding-top: 0;
}

.ajuste {
    max-width: 100%; /* O ajusta según sea necesario */
    height: 100%;
}
.decoracion{
    height: 85px;
    width: 110%;
    background-color: #434343;
    border-top-left-radius: 40px; /* Curva la esquina superior derecha */
    border-bottom-right-radius: 40px;
}
h1{
    /* text-align: center; */
    padding-left: 13px;
    font-size: 45px;
}
.contenedor-ingredientes-categoria{
    padding-left: 10px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.categoria{
    padding-left: 140px;
    padding-top: 15px;
}
.categoria p{
    font-size: 1.2em;
    font-weight: bold;
    color: #009688;
}
/* Estilos generales para el artículo */
.ingredientes {
    padding: 15px;
    margin-bottom: 20px;
    height: 500px;
}

/* Estilos para el encabezado h3 */
.contenedor-ingredientes-categoria h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ingredientes ul {
    list-style-type: none;
    padding: 0;
}

.ingredientes li {
    margin-bottom: 8px;
    font-size: 1.2em;
    font-weight: bold;
    color: #009688;
}

.ingredientes li:last-child {
    color: #009688; 
}


/*  */
.imagen-container {
    max-width: 500px;
    max-height: 800px;
    overflow: hidden; /* Para manejar el recorte en caso de ajuste por el ancho */
    /* margin-bottom: 20px;*/
}

.imagen-conteiner img {
    width: 450px;
    height: auto;
    display: block;
}

.elemento-derecha {
    float: right; /* Colocar el elemento a la derecha */
    margin-left: 120px; /* Espacio entre el contenedor y el elemento a la derecha */
}

/* Limpiar el float para evitar problemas de diseño */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*  */
.contenedor-presentacion{
    padding-bottom: 20vh;
    padding-top: 10vh;
    padding-left: 30vh;
    padding-right: 30vh;
    
}
.encabezado{
    font-size: 10vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}
.descripcion-bebida{
    font-size: 3.5vh;
}
/* receta */
.contenedor-receta {
    text-align: center;
    background-image: url(https://us.123rf.com/450wm/titco/titco1807/titco180700284/104611882-textura-de-madera-superficie-de-fondo-de-madera-clara-para-el-dise%C3%B1o-y-la-decoraci%C3%B3n.jpg?ver=6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333;
}

.marco-pasos {
    width: 85%;
    height: 300px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 auto;/*centrar*/
    border-top-left-radius: 30px; /* Curva la esquina superior derecha */
    border-bottom-right-radius: 30px;
}

.pasos p {
    line-height: 1.6;
    margin: 0;
    color: #555;
}

.paso-imagen p {
    flex: 1; /* La mitad del espacio para el párrafo */
    margin-right: 20px;
    font-size: 20px;
    color: #fff;
}

.paso-imagen {
    height: 270px;
    display: flex;
    align-items: center;
    background-image: url(https://www.shutterstock.com/image-photo/wood-texture-natural-plywood-background-600nw-1901761825.jpg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.paso-imagen img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
}

.paso-imagen:hover img {
    transform: scale(1.1);
    width: auto;
    height: auto;
    max-width: 260px;
    max-height: 260px;
}

/* formulario */

form {
    max-width: 100%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
    font-family: Arial, sans-serif;
}
.contenedor-grande-form{
display: grid;
grid-template-columns: 1fr 1fr;
}
.divisor-de-columnas-form {
    display: flex;
    flex-direction: column; /* Esto hace que los elementos estén en una columna */
    align-items: center; /* Esto centra los elementos horizontalmente dentro del contenedor */
}

.titulo {
    width: 100%;
    text-align: center;
    color: #333;
}

label {
    display: block;
    width: 48%; /* Ancho del 48% para dejar espacio entre los elementos */
    margin: 15px 0 5px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    /* border-radius: 5px; */
    box-sizing: border-box;
    font-size: 22px;
}

#nombre,
#apellido {
    width: 80%; /* Ancho del 48% para dejar espacio entre los elementos */
    margin-bottom: 32px;
}
#sugerencia{
    width: 80%;
}

input[type="submit"] {
    background-color: #009688;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #00796b;
}
/* estrellas calificadoras */
.estrellas-calificadoras{
    display: flex;
    justify-content: center;
}
.rating-container {
    font-size: 52px;
    display: flex;
    align-items: center;
}

.star {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.star:hover,
.star.active,
.star.active .star {
    color: #ffd700;
}
/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.contenedor-pie {
    max-width: 1200px;
    margin: 0 auto;
}
